<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity, Version=8.3.146.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PSComIDDataContextConnectionString" connectionString="User Id=CAPT;Password=capt;Server=CAPT-TEST-SRV;Direct=True;Sid=XE;Persist Security Info=True" />
    <add name="PSEntitiesConnectionString" connectionString="metadata=res://ComID.DBI/MDB.DEM_PS.csdl|res://ComID.DBI/MDB.DEM_PS.ssdl|res://ComID.DBI/MDB.DEM_PS.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CAPT;Password=capt;Server=CAPT-TEST-SRV;Direct=True;Service Name=XE;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PSComIDEntitiesConnectionString" connectionString="metadata=res://ComID.DBI/MDB.DA_DMComID.csdl|res://ComID.DBI/MDB.DA_DMComID.ssdl|res://ComID.DBI/MDB.DA_DMComID.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CAPT;Password=capt;Server=CAPT-TEST-SRV;Direct=True;Sid=XE;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="gameDataEntities" connectionString="metadata=res://*/MDB.EDM_GDB.csdl|res://*/MDB.EDM_GDB.ssdl|res://*/MDB.EDM_GDB.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\Projekte\Src Game\Data\Data_Release\gameData.s3db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>